require "sfdc-connect"

SfdcConnect.sfdc_login_url="https://test.salesforce.com/services/oauth2/token"
SfdcConnect.default_credentials =  = SfdcConnect::Credentials.new(
      "your client id",
      "your client secret",
      "your username",
      "your password")